[user]
	name = Hyeon Kim
	email = simnalamburt@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitexclude
	fscache = true
[color]
	ui = auto
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[credential "https://github.com"]
	username = simnalamburt
[credential "http://git.hyeon.me"]
	username = simnalamburt
[credential "http://git.upnl.org"]
	username = simnalamburt
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
