# vim: noexpandtab sw=8
[user]
	name = Hyeon Kim
	email = simnalamburt@gmail.com
	signingkey = 0F85F46EE242057F
[core]
	editor = vim
	pager = less -+XF -SQc
	excludesfile = ~/.gitexclude
	fscache = yes
	autocrlf = no
	quotepath = no
	precomposeunicode = yes
[log]
	date = iso8601
[color]
	ui = auto
[diff]
	renames = copies
	tool = vimdiff
[difftool]
	prompt = no
[fetch]
	prune = yes
[branch]
	autosetuprebase = always
[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
[credential "https://github.com"]
	username = simnalamburt
[credential "https://git.hyeon.me"]
	username = simnalamburt
[credential "https://git.upnl.org"]
	username = simnalamburt
[filter "lfs"]
	required = yes
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	# Complex and long git aliases.
	# Check out https://github.com/simnalamburt/cgitc for short aliases!

	# git pr [<remote>]
	#
	# Fetch pull requests from GitHub. Fetch "origin" if remote is not
	# specified.
	#
	# Usage:
	#   git pr
	#   git pr other
	pr = "!_() { git config fetch.prune no && git fetch ${1:-origin} +refs/pull/*/head:refs/remotes/${1:-origin}/pr/*; }; _"

	# git b <filename>
	#
	# Beautiful `git blame`
	#
	# Usage:
	#   git b README.md
	b = "!_() { git blame -sfMCCC $GIT_PREFIX$1 | perl -pe 's|^(.{8}) .+? ([0-9]+?)\\) |\\x1b[38;5;243m$1 \\x1b[38;5;216;48;5;234m @{[sprintf(\"%5d\",$2)]} \\x1b[0m |g' | $(git config core.pager) -R; }; _"

	# git g
	#
	# Git graph with signature info
	g = "log --graph --pretty='format:%C(auto)%h%d %s%x1b[38;5;022m% GS %x1b[38;5;239m%cr%x1b[0m'"

	# git h <filename>
	#
	# Show history of a file
	#
	# Usage:
	#   git h README.md
	h = "log -p -M --follow"

[commit]
	gpgsign = yes
[rerere]
	enabled = yes
[stash]
	showPatch = true
[status]
	showStash = true
[submodule]
	fetchJobs = 0

[include]
	path = ~/.gitconfig.local
