[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  title_hide_sizetext = True
[keybindings]
  broadcast_all = None
  broadcast_group = None
  broadcast_off = None
  close_term = <Super>w
  close_window = None
  copy = None
  cycle_next = None
  cycle_prev = None
  edit_window_title = None
  full_screen = <Super>Return
  go_down = None
  go_left = None
  go_next = <Super>bracketright
  go_prev = <Super>bracketleft
  go_right = None
  go_up = None
  group_all = None
  group_tab = None
  help = None
  hide_window = None
  insert_number = None
  insert_padded = None
  layout_launcher = None
  move_tab_left = None
  move_tab_right = None
  new_tab = <Super>t
  new_terminator = None
  new_window = <Super>y
  next_tab = None
  paste = <Shift>Insert
  prev_tab = None
  reset = None
  reset_clear = None
  resize_down = None
  resize_left = None
  resize_right = None
  resize_up = None
  rotate_ccw = None
  rotate_cw = None
  scaled_zoom = None
  search = None
  split_horiz = <Super>minus
  split_vert = <Super>backslash
  switch_to_tab_1 = <Super>1
  switch_to_tab_10 = <Super>0
  switch_to_tab_2 = <Super>2
  switch_to_tab_3 = <Super>3
  switch_to_tab_4 = <Super>4
  switch_to_tab_5 = <Super>5
  switch_to_tab_6 = <Super>6
  switch_to_tab_7 = <Super>7
  switch_to_tab_8 = <Super>8
  switch_to_tab_9 = <Super>9
  toggle_scrollbar = None
  toggle_zoom = None
  ungroup_all = None
  ungroup_tab = None
  zoom_in = None
  zoom_normal = None
  zoom_out = None
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_image = None
    font = Monaco for Powerline 11
    palette = "#000000:#cc0000:#4e9a06:#c4a000:#3465a4:#75507b:#06989a:#d3d7cf:#555753:#ef2929:#8ae234:#fce94f:#729fcf:#ad7fa8:#34e2e2:#eeeeec"
    scrollbar_position = hidden
    use_system_font = False
